* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.imageContainer {
    width: 30%;
    margin: 5% 0px 0px 5%;
}
.imageContainer img {
    max-width: 100%;
}
.overlay {
    /* display: none; */
    background: no-repeat url("https://i.pinimg.com/236x/18/10/5c/18105c923336203740b0d9c3062baeee.jpg");
    position: absolute;
    width: 25%;
    height: 35%;
    margin-top: -30%;
    margin-left: 50%;
    border: 2px solid #555;
    z-index: 100;
}
.mouse {
    cursor: zoom-in;
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
}