.image-container {
    position: relative;
    width: 300px; 
    height: 300px;
    overflow: hidden;
}

.zoom-img {
    width: 100%;
    height: auto;
    display: block;
}

.zoom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.zoom-overlay.active {
    display: block;
    background: no-repeat url('https://i.pinimg.com/236x/2a/77/18/2a77183458b38a70c57e1a4167d973ad.jpg'); 
    background-size: 250%;
}
