* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010718;
    overflow: hidden;
}

.container {
    width: 300px;
    overflow: hidden;
}

.container .text {
    position: relative;
    color: #4070f4;
    font-size: 30px;
    font-weight: 600;
}

.container.text.firstText {
    color: #fff;
}

.text.secondText::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 2px solid #4070f4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 105%;
    }

    100% {
        left: 0%;
    }
}