* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343f4f;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    height: 400px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.wrapper i.button {
    position: absolute;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 100;
}
i.button:active {
    transform: scale(0.94) translateY(-50%);
}
i#prev {
    left: 25px;
}
i#next {
    right: 25px;
}
.image-container {
    height: 360px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.carousel img {
    border: 10px solid #fff;
    border-radius: 18px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}