* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg , #1f1f1f,#333);
}
.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
.mainbox:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /* background: ; */
    background-size: 5%;
    left: 5%;
    top: 48%;
    transform: rotate(90deg);
}
.box {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
} 
span {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.span1 {
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background: rgb(0, 255, 0);
}
.span2 {
    clip-path: polygon(0 17%, 30% 0%, 50% 50%);
    background: rgba(0, 255, 0, 0.8);
}
.span3 {
    clip-path: polygon(30% 0%, 71% 0%, 50% 50%);
    background: rgba(0,255, 0, 0.6);
}
.span4 {
    clip-path: polygon(71% 0%, 100% 18%, 50% 50%);
    background: rgba(0, 255, 0, 0.4);
}
.span5 {
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background: rgba(0, 255, 0, 0.2);
}
.box2 .span3 {
    /* background: blue; */
}
.box2 {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}
.box2 .span1 {
    color: #fff;
    font-size: 20px;
}
.box1 .span1 h5 {
    position: absolute;
    top: 41%;
    text-align: center;             
    right: 73%;
    transform: rotate(200deg);
}
.box1 .span2 h5 {
    position: absolute;
    top: 30%;
    right: 57%;
    transform: rotate(-130deg);
    text-align: center;
}
.box1 .span3 h5 {
    position: absolute;
    top: 22%;
    right: 38%;
    text-align: center;
    transform: rotate(-90deg);
}
.box1 .span4 h5 {
    position: absolute;
    top: 25%;
    right: 16%;
    transform: rotate(-45deg);
    text-align: center;
}
.box1 .span5 h5 {
    position: absolute;
    top: 41%;
    right: 73%;
    transform: rotate(200deg);
}